In [2]:
from collections import Counter
import numpy as np
import pandas as pd

In [3]:
train_data = pd.read_json("train.json")
recent_data = train_data[train_data['year'] >= 16]

In [15]:
Counter(recent_data["venue"].values)[0]

993

In [19]:
recent_data["prolific"] = list(map(lambda authors : list(filter(lambda x: x < 100, authors)), recent_data["authors"].tolist()))

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/2707643372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_data["prolific"] = list(map(lambda authors : list(filter(lambda x: x < 100, authors)), recent_data["authors"].tolist()))

In [28]:
recent_data.head()

,authors,year,abstract,venue,title,coauthors,prolific
2,"[19166, 17763]",17,"[40, 1542, 1691, 2449, 1535, 2610, 1543, 1535,...",,"[2085, 1719, 1846, 1745, 2243, 1553, 1606, 159...","[19166, 17763]",[]
5,"[5396, 16841, 17598, 20375, 11436]",18,"[40, 1542, 1691, 3133, 33, 1923, 1650, 1642, 1...",4,"[46, 1617, 1667, 3979, 2073, 37, 53, 2080, 154...","[5396, 16841, 17598, 20375, 11436]",[]
8,"[12449, 20348]",18,"[46, 4822, 1692, 1553, 3591, 4914, 46, 2421, 6...",9,"[3591, 4914, 46, 2421, 1608, 37, 1740, 1825, 1...","[12449, 20348]",[]
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]"
13,"[3965, 18294]",17,"[47, 1548, 2285, 1586, 4541, 2710, 1539, 1535,...",36,"[37, 2375, 1568, 1910, 1772, 1543, 1534, 1588,...","[3965, 18294]",[]

In [39]:
recent_data.to_json('recent_data.json')
df = pd.read_json('recent_data.json')

In [40]:
df.head()

,authors,year,abstract,venue,title,coauthors,prolific
2,"[19166, 17763]",17,"[40, 1542, 1691, 2449, 1535, 2610, 1543, 1535,...",,"[2085, 1719, 1846, 1745, 2243, 1553, 1606, 159...","[19166, 17763]",[]
5,"[5396, 16841, 17598, 20375, 11436]",18,"[40, 1542, 1691, 3133, 33, 1923, 1650, 1642, 1...",4,"[46, 1617, 1667, 3979, 2073, 37, 53, 2080, 154...","[5396, 16841, 17598, 20375, 11436]",[]
8,"[12449, 20348]",18,"[46, 4822, 1692, 1553, 3591, 4914, 46, 2421, 6...",9,"[3591, 4914, 46, 2421, 1608, 37, 1740, 1825, 1...","[12449, 20348]",[]
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]"
13,"[3965, 18294]",17,"[47, 1548, 2285, 1586, 4541, 2710, 1539, 1535,...",36,"[37, 2375, 1568, 1910, 1772, 1543, 1534, 1588,...","[3965, 18294]",[]

In [42]:
df.index

Int64Index([    2,     5,     8,     9,    13,    16,    22,    26,    37,
               38,
            ...
            25760, 25761, 25770, 25771, 25772, 25774, 25778, 25779, 25781,
            25791],
           dtype='int64', length=7059)

In [21]:
number_of_prolific = list(map(len, recent_data["prolific"].values))

In [26]:
number_of_coauthors = list(map(len, recent_data["coauthors"].values))

In [23]:
Counter(number_of_prolific)

Counter({0: 5118, 2: 304, 1: 1601, 3: 30, 7: 1, 4: 4, 10: 1})

In [27]:
Counter(number_of_coauthors)

Counter({2: 1986,
         5: 587,
         3: 1844,
         1: 755,
         4: 1195,
         6: 342,
         9: 30,
         8: 78,
         7: 150,
         12: 11,
         11: 20,
         0: 30,
         13: 5,
         10: 12,
         14: 2,
         15: 3,
         56: 2,
         16: 1,
         18: 2,
         31: 1,
         63: 1,
         44: 1,
         23: 1})

In [24]:
test_data = pd.read_json("test.json")

In [25]:
test_data.head(5)

,identifier,coauthors,year,abstract,venue,title
0,0,"[16336, 1762, 4357, 12564]",19,"[37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...",223,"[3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,..."
1,1,"[21189, 14088]",19,"[1731, 2130, 3674, 1705, 1656, 3077, 1546, 367...",223,"[40, 1560, 1536, 1544, 1609, 1705, 1658, 1543,..."
2,2,"[3625, 1198, 19889, 794, 2749, 7801]",19,"[1551, 1728, 3920, 1542, 1535, 1656, 1543, 153...",7,"[47, 1574, 1729, 1641, 11, 37, 2533, 2015, 47,..."
3,3,"[19810, 15173, 5876, 111]",19,"[51, 1535, 2115, 1543, 1811, 1700, 1657, 1684,...",21,"[1770, 53, 2054, 1549, 1529, 1723, 2796, 1547,..."
4,4,"[10932, 7668, 11907, 19601, 15307, 10492, 1049...",19,"[1775, 1746, 1842, 1525, 33, 2551, 1882, 1542,...",,"[18, 1924, 23, 1544, 3927, 2686, 1543, 1535, 1..."

In [33]:
Counter(test_data["venue"].values)

Counter({223: 164,
         7: 117,
         21: 41,
         '': 91,
         0: 187,
         463: 3,
         106: 4,
         367: 6,
         235: 15,
         56: 3,
         462: 5,
         458: 9,
         459: 8,
         63: 5,
         59: 29,
         431: 20,
         17: 6,
         197: 5,
         31: 16,
         460: 6,
         105: 8,
         13: 11,
         5: 7,
         447: 5,
         234: 4,
         464: 2,
         455: 1,
         461: 5,
         122: 4,
         161: 1,
         18: 9,
         263: 2,
         224: 1})

Prune recent data to match the distribution in test set better

In [47]:
pruned = recent_data[recent_data["prolific"].map(len) > 0]

In [48]:
pruned.head()

,authors,year,abstract,venue,title,coauthors,prolific
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]"
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49]
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95]
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]"
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47]

In [49]:
pruned.shape

(1941, 7)

In [52]:
pruned.to_json('pruned_recent_data.json')
df = pd.read_json('pruned_recent_data.json')

In [53]:
df.head()

,authors,year,abstract,venue,title,coauthors,prolific
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]"
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49]
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95]
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]"
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47]

In [54]:
author_2 = pruned[pruned["prolific"].map(lambda l: 2 in l) == True]

In [55]:
author_2

,authors,year,abstract,venue,title,coauthors,prolific
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]"
724,"[16482, 19780, 2]",17,"[37, 2227, 1535, 1923, 1811, 1700, 1642, 3616,...",21,"[2035, 4628, 1543, 47, 1550, 1540, 1617, 3776,...","[16482, 19780]",[2]
2724,"[4068, 9641, 2, 17255]",18,"[46, 1605, 1691, 10, 1557, 1662, 33, 2366, 154...",0,"[3066, 1728, 11, 1546, 11, 2366, 47, 1603, 51,...","[4068, 9641, 17255]",[2]
3217,"[9641, 5623, 14605, 44, 2]",18,"[1731, 1656, 1543, 2007, 2159, 2163, 1542, 154...",7,"[37, 1595, 3589, 1527, 1647, 46, 1624, 1547, 1...","[9641, 5623, 14605]","[44, 2]"
3331,"[6116, 2]",18,"[37, 2067, 2142, 11, 1650, 1905, 1525, 2464, 2...",0,"[50, 1668, 3501, 37, 1539, 1715, 1553, 1602, 1...",[6116],[2]
5520,"[19060, 6116, 2]",18,"[50, 1668, 3501, 4255, 2466, 1907, 2394, 33, 2...",30,"[37, 3212, 11, 3524, 37, 1676, 1694, 1532, 157...","[19060, 6116]",[2]
9014,"[2, 1333, 17886, 11413, 13474]",18,"[1731, 51, 2101, 1547, 1543, 47, 1574, 1673, 2...",,"[1731, 46, 1668, 2099, 24, 1606, 1645, 52, 52,...","[1333, 17886, 11413, 13474]",[2]
9262,"[9641, 4068, 44, 5623, 2]",17,"[40, 1542, 1691, 4243, 1535, 1656, 1543, 11, 1...",0,"[11, 1546, 11, 1647, 1531, 1532, 1547, 1608, 5...","[9641, 4068, 5623]","[44, 2]"
13402,"[9641, 44, 2]",18,"[1731, 1656, 1543, 2579, 1886, 1542, 1546, 246...",18,"[37, 1740, 2538, 2396, 11, 1650, 57, 46, 1899,...",[9641],"[44, 2]"
13848,"[9641, 5623, 6571, 2]",16,"[1527, 1877, 1852, 1630, 2135, 3112, 6, 7, 190...",39,"[4914, 1784, 1545, 1705, 2600, 3057, 1553, 359...","[9641, 5623, 6571]",[2]
16582,"[9641, 44, 5623, 2]",18,"[2001, 11, 1916, 3, 46, 3, 11, 1869, 1799, 199...",9,"[11, 1869, 37, 1632, 56, 1687, 1644, 1704, 156...","[9641, 5623]","[44, 2]"
17352,"[2, 17255]",16,"[1731, 3110, 1543, 1904, 1608, 4035, 1882, 11,...",30,"[57, 46, 3574, 1767, 1527, 1647, 11, 1745, 156...",[17255],[2]
19606,"[2, 6802, 4068, 4994]",17,"[37, 1740, 2490, 1754, 1860, 2807, 3294, 2745,...",20,"[36, 36, 1561, 1708, 1535, 4284, 2627, 1641, 5...","[6802, 4068, 4994]",[2]
19935,"[2, 17255, 4068]",17,"[47, 2664, 1675, 1658, 1535, 1656, 1543, 1726,...",30,"[1623, 37, 2538, 2396, 57, 1548, 3391, 1553, 1...","[17255, 4068]",[2]
23456,"[855, 2, 6262]",17,"[1731, 2205, 2021, 1543, 2878, 4175, 4480, 432...",30,"[47, 1537, 1543, 37, 1596, 1567, 47, 2887, 157...","[855, 6262]",[2]
24028,"[4068, 2]",16,"[46, 1605, 1691, 10, 1557, 2545, 33, 4035, 11,...",31,"[1543, 1539, 1615, 1966, 11, 3238, 1653, 22, 2...",[4068],[2]
24091,"[9641, 44, 4068, 5623, 2]",16,"[1731, 1656, 1543, 11, 1546, 11, 1647, 2163, 1...",9,"[11, 1546, 11, 1647, 2163, 1554, 33, 1560, 156...","[9641, 4068, 5623]","[44, 2]"
24764,"[62, 797, 2, 9950, 17255]",17,"[1560, 1694, 51, 1860, 33, 3063, 1543, 2452, 1...",30,"[37, 2533, 2015, 53, 1546, 2213, 33, 1553, 37,...","[797, 9950, 17255]","[62, 2]"

tfidf for title and abstract

In [58]:
pruned["combined"] = pruned["title"] + pruned["abstract"]

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/1237876922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruned["combined"] = pruned["title"] + pruned["abstract"]

In [59]:
pruned.head()

,authors,year,abstract,venue,title,coauthors,prolific,combined
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]","[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160..."
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49],"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1..."
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95],"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,..."
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]","[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5..."
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47],"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1..."

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

training_combined = pruned["combined"]
training_combined_string = [' '.join(map(str, combined)) for combined in training_combined]

tfidf = vectorizer.fit_transform(training_combined_string)
vectorizer.get_feature_names_out()

array(['10', '1005', '1016', ..., '970', '977', '980'], dtype=object)

In [61]:
tfidf.shape

(1941, 3491)

In [73]:
pruned["tfidf"] = tfidf.toarray().tolist()

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/3187147030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruned["tfidf"] = tfidf.toarray().tolist()

In [74]:
pruned.head()

,authors,year,abstract,venue,title,coauthors,prolific,combined,tfidf
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]","[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[0.1335344215937393, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49],"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[0.19023824207648846, 0.0, 0.0, 0.0, 0.0, 0.0,..."
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95],"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[0.06441141789734184, 0.0, 0.0, 0.0, 0.0, 0.0,..."
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]","[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...","[0.05262171329312369, 0.0, 0.0, 0.0, 0.0, 0.0,..."
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47],"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[0.09244995742821155, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [70]:
import scipy.sparse as sparse
sparse.coo_matrix(([1,1,1], ([0,1,2], [1,2,0])), shape=(3,3))

<3x3 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in COOrdinate format>

In [81]:
pruned.to_json('tfidf_pruned.json')

Prepare test data

In [84]:
test_data = pd.read_json("test.json")

In [85]:
test_data["combined"] = test_data["title"] + test_data["abstract"]

In [87]:
testing_combined = test_data["combined"]
testing_combined_string = [' '.join(map(str, combined)) for combined in testing_combined]
test_data["tfidf"] = vectorizer.transform(testing_combined_string).toarray().tolist()

In [502]:
test_data.head()

,identifier,coauthors,year,abstract,venue,title,combined,tfidf,collab,input
0,0,"[16336, 1762, 4357, 12564]",19,"[37, 1662, 3207, 10, 33, 2037, 1738, 1642, 155...",223,"[3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...","[3207, 24, 1798, 1738, 37, 2375, 1568, 11, 53,...","[0.14239548620836395, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,"[21189, 14088]",19,"[1731, 2130, 3674, 1705, 1656, 3077, 1546, 367...",223,"[40, 1560, 1536, 1544, 1609, 1705, 1658, 1543,...","[40, 1560, 1536, 1544, 1609, 1705, 1658, 1543,...","[0.07823090845755813, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,"[3625, 1198, 19889, 794, 2749, 7801]",19,"[1551, 1728, 3920, 1542, 1535, 1656, 1543, 153...",7,"[47, 1574, 1729, 1641, 11, 37, 2533, 2015, 47,...","[47, 1574, 1729, 1641, 11, 37, 2533, 2015, 47,...","[0.15591090092843682, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,"[19810, 15173, 5876, 111]",19,"[51, 1535, 2115, 1543, 1811, 1700, 1657, 1684,...",21,"[1770, 53, 2054, 1549, 1529, 1723, 2796, 1547,...","[1770, 53, 2054, 1549, 1529, 1723, 2796, 1547,...","[0.027658642348301263, 0.0, 0.0, 0.0, 0.0, 0.0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,"[10932, 7668, 11907, 19601, 15307, 10492, 1049...",19,"[1775, 1746, 1842, 1525, 33, 2551, 1882, 1542,...",,"[18, 1924, 23, 1544, 3927, 2686, 1543, 1535, 1...","[18, 1924, 23, 1544, 3927, 2686, 1543, 1535, 1...","[0.07117006302915695, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 4, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 4, ..."

In [382]:
test_data.to_json('tfidf_test.json')

In [380]:
test_data['collab'] = test_data.apply (lambda row: transform_instance_to_list(row), axis=1)

In [501]:
test_data['input'] = test_data["collab"] + test_data["tfidf"]

Add past collabs

In [100]:
def transform_instance_to_list(row):
    """
    Get a test instance into a list of numbers fitted as nueral network input
    """
    coauthors = row["coauthors"]
    past_collabs = all_coauthors_past_collaborations_with_prolific_authors(coauthors, counting_dict)

    return past_collabs

def all_coauthors_past_collaborations_with_prolific_authors(all_coauthors, counting_dict):
    N = 100
    past_collaborations = [0] * N
    for coauthor in all_coauthors:
        
        this_coauthor_collabs = number_of_past_collaborations_with_prolific_authors(coauthor, counting_dict)
        past_collaborations = [sum(x) for x in zip(past_collaborations, this_coauthor_collabs)]
    
    return past_collaborations

def number_of_past_collaborations_with_prolific_authors(test_author, counting_dict):
    N = 100
    past_collaborations = [0] * N
    for i in range(N):
        past_collaborations[i] = counting_dict[i][test_author]
        
    return past_collaborations

from collections import defaultdict

def build_counting_dict(all_records):
    counting_dict = defaultdict(lambda: defaultdict(int))
    
    for index, record in all_records.iterrows():
        authors = record["authors"]
        prolific_authors = record["prolific"]
        non_prolific_authors = record["coauthors"]
        
        for prolific_author in prolific_authors:
            for non_prolific_author in non_prolific_authors:
                counting_dict[prolific_author][non_prolific_author] += 1
    
    return counting_dict

In [101]:
counting_dict = build_counting_dict(recent_data)

In [102]:
pruned['collab'] = pruned.apply (lambda row: transform_instance_to_list(row), axis=1)

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/3604147579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruned['collab'] = pruned.apply (lambda row: transform_instance_to_list(row), axis=1)

In [109]:
pruned["input"] = pruned["collab"] + pruned["tfidf"]

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/2096438368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruned["input"] = pruned["collab"] + pruned["tfidf"]

In [117]:
len(pruned["input"][22])

3591

In [270]:
pruned.head()

,authors,year,abstract,venue,title,coauthors,prolific,combined,tfidf,collab,input
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]","[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[0.1335344215937393, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 0, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49],"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[0.19023824207648846, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95],"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[0.06441141789734184, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]","[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...","[0.05262171329312369, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, ..."
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47],"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[0.09244995742821155, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

Run models with pruned

In [344]:
def author_ids_to_multi_hot_tensor(authors):
    """Convert author id to multi-hot tensor representation

    Parameters
    ----------        
    authors : 
        A list of author ids (<100). e.g. [23, 47]

    -------
    Return 
    y : 
        A list of zeors and ones of length 100. [0, 0, 0, .... 1, 0, 0, 0, ... 1, 0, 0, .....]
    
    """
    tensor = torch.zeros(1, 100, dtype=torch.float32)
    for i, author_id in enumerate(authors):
        tensor[0][author_id] = 1  
    return torch.squeeze(tensor)

def author_ids_to_multi_hot_list(authors):
    return author_ids_to_multi_hot_tensor(authors).tolist()

In [346]:
pruned["target"] = pruned["prolific"].map(lambda row: author_ids_to_multi_hot_list(row))

/var/folders/q0/1dzll5293fqgv6b_2zc1t3tm0000gn/T/ipykernel_93458/382462400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruned["target"] = pruned["prolific"].map(lambda row: author_ids_to_multi_hot_list(row))

In [347]:
pruned.head()

,authors,year,abstract,venue,title,coauthors,prolific,combined,tfidf,collab,input,target
9,"[9641, 44, 5623, 2]",18,"[1731, 2021, 1543, 11, 1546, 11, 1647, 2163, 1...",0,"[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[9641, 5623]","[44, 2]","[1560, 1694, 11, 1546, 11, 3066, 1728, 47, 160...","[0.1335344215937393, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 0, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
22,"[14738, 14099, 3438, 49]",18,"[3390, 1538, 3203, 1860, 2000, 2867, 1546, 187...",7,"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[14738, 14099, 3438]",[49],"[45, 1559, 2179, 1623, 1621, 3390, 1538, 47, 1...","[0.19023824207648846, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40,"[95, 511, 18249]",16,"[53, 4018, 1675, 4091, 3363, 1543, 2481, 2752,...",10,"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[511, 18249]",[95],"[37, 47, 3363, 1553, 55, 2793, 24, 1637, 1538,...","[0.06441141789734184, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
50,"[15587, 9, 30]",17,"[40, 1542, 2129, 4243, 1535, 2021, 1543, 2742,...",42,"[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...",[15587],"[9, 30]","[37, 1740, 1529, 1589, 1629, 47, 1603, 1553, 5...","[0.05262171329312369, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
51,"[18056, 13097, 5274, 47, 1052]",16,"[40, 1542, 1691, 3120, 33, 2305, 2263, 1575, 1...",9,"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[18056, 13097, 5274, 1052]",[47],"[1530, 3591, 1784, 1545, 1705, 11, 1650, 37, 1...","[0.09244995742821155, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [112]:
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
import time
from torchmetrics.classification import MultilabelF1Score

In [624]:
inputs = pruned["tfidf"].values
# labels = np.where(pruned["prolific"].map(lambda l: 2 in l) == True, 1, 0)
labels = pruned["target"].values

In [625]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, labels, test_size=0.33, random_state=42)

X_train = inputs
y_train = labels


X_train = [l for l in X_train]
X_test = [l for l in X_test]
y_train = [l for l in y_train]
y_test = [l for l in y_test]
X_train, X_test = torch.Tensor(X_train),torch.Tensor(X_test)
y_train, y_test = torch.Tensor(y_train),torch.Tensor(y_test)

In [626]:
class LogisticRegression(torch.nn.Module):
    def __init__(self, input_dim, output_dim):
        super(LogisticRegression, self).__init__()
#         self.hidden = torch.nn.Linear(input_dim, hidden_dim)
        self.linear = torch.nn.Linear(input_dim, output_dim)

    def forward(self, x):
#         hidden = torch.tanh(self.hidden(x))
        outputs = torch.sigmoid(self.linear(x))
        return outputs

In [630]:
epochs = 10000
input_dim = 3491
hidden_dim = 256
output_dim = 100 # Single binary output 
learning_rate = 0.01

In [631]:
model = LogisticRegression(input_dim,output_dim)
criterion = torch.nn.BCELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

In [632]:
from tqdm import tqdm
from sklearn.metrics import f1_score

losses = []
losses_test = []
Iterations = []
iter = 0
for epoch in tqdm(range(int(epochs)),desc='Training Epochs'):
    x = X_train
    labels = y_train
    optimizer.zero_grad() # Setting our stored gradients equal to zero
    outputs = model(X_train)
    loss = criterion(torch.squeeze(outputs), labels) 
    
    loss.backward() # Computes the gradient of the given tensor w.r.t. the weights/bias
    
    optimizer.step() # Updates weights and biases with the optimizer (SGD)
    
    iter+=1
    if iter%5000==0:
        with torch.no_grad():
            # Calculating the loss and accuracy for the test dataset
#             correct_test = 0
#             total_test = 0
            outputs_test = torch.squeeze(model(X_test))
            loss_test = criterion(outputs_test, y_test)
            
            predicted_test = outputs_test.round().detach().numpy()
#             total_test += y_test.size(0)
#             correct_test += np.sum(predicted_test == y_test.detach().numpy())
#             accuracy_test = 100 * correct_test/total_test
            losses_test.append(loss_test.item())
            
            # Calculating the loss and accuracy for the train dataset
#             total = 0
#             correct = 0
#             total += y_train.size(0)
#             correct += np.sum(torch.squeeze(outputs).round().detach().numpy() == y_train.detach().numpy())
#             accuracy = 100 * correct/total
#             print(y_test.int())
#             print(predicted_test.astype(int))
            accuracy = 0#f1_score(y_train.int().tolist(), torch.squeeze(outputs).int().tolist(), average='macro')
            accuracy_test = f1_score(y_test.int().tolist(), predicted_test.astype(int), average='macro')
            losses.append(loss.item())
            Iterations.append(iter)
            
            print(f"Iteration: {iter}. \nTest - Loss: {loss_test.item()}. Accuracy: {accuracy_test}")
#             print(f"Train -  Loss: {loss.item()}. Accuracy: {accuracy}\n")

Training Epochs:  50%|████████████████████████████████████████████████████████▉                                                         | 4994/10000 [01:12<01:21, 61.68it/s]/Users/tian/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1580: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
Training Epochs:  50%|█████████████████████████████████████████████████████████                                                         | 5007/10000 [01:13<01:39, 49.94it/s]

Iteration: 5000.
Test - Loss: 0.5770414471626282. Accuracy: 0.0

Training Epochs: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉| 9996/10000 [02:43<00:00, 46.05it/s]/Users/tian/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1580: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
Training Epochs: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10000/10000 [02:44<00:00, 60.96it/s]

Iteration: 10000.
Test - Loss: 0.488578736782074. Accuracy: 0.0

In [608]:
torch.save(model.state_dict(), "LR800000.pt")

In [609]:
saved_model = LogisticRegression(input_dim,output_dim)
saved_model.load_state_dict(torch.load("LR300000.pt"))

In [610]:
new_data = test_data["input"].values
new_data = [l for l in new_data]
new_data = torch.Tensor(new_data)

In [611]:
with torch.no_grad():
    prediction = model(new_data).round()

In [612]:
prediction

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [613]:
def multi_hot_authors_to_integer(authors):
    author_ids = torch.nonzero(authors)
    if len(author_ids) > 0:
        return [l[0] for l in author_ids.tolist()]
    else:
        return []

In [614]:
prediction[0]

tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 0., 0., 0., 0., 0.])

In [615]:
prediction = list(map(multi_hot_authors_to_integer, prediction))

In [616]:
prediction

[[92],
 [],
 [31],
 [23],
 [32],
 [],
 [],
 [6, 13],
 [],
 [],
 [38],
 [42],
 [],
 [13, 71],
 [94],
 [82],
 [84],
 [20],
 [],
 [38],
 [83],
 [43],
 [],
 [35],
 [50],
 [98],
 [35],
 [38],
 [],
 [],
 [],
 [12],
 [65],
 [84],
 [],
 [81],
 [],
 [],
 [98],
 [],
 [],
 [],
 [12],
 [],
 [],
 [],
 [26],
 [10],
 [6],
 [],
 [42],
 [38],
 [],
 [],
 [],
 [],
 [],
 [51],
 [],
 [29],
 [],
 [],
 [66],
 [],
 [],
 [],
 [10],
 [30],
 [],
 [59],
 [16],
 [85],
 [],
 [],
 [],
 [80],
 [],
 [],
 [],
 [],
 [],
 [20],
 [10],
 [],
 [41],
 [],
 [],
 [],
 [],
 [],
 [37],
 [],
 [],
 [],
 [],
 [],
 [67],
 [73],
 [82],
 [92],
 [],
 [],
 [6],
 [77],
 [],
 [75],
 [],
 [],
 [38],
 [],
 [],
 [],
 [],
 [],
 [],
 [25],
 [],
 [0],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [3],
 [47, 96],
 [94],
 [5],
 [89],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [25],
 [],
 [],
 [],
 [89],
 [],
 [38, 91],
 [],
 [62],
 [],
 [],
 [],
 [],
 [],
 [],
 [84],
 [],
 [],
 [72],
 [69],
 [],
 [82],
 [],
 [45],
 [],
 [78],
 [5],
 [],
 [],
 [37],
 [],
 [2, 44],
 [77],
 [],
 [],
 [67],
 [],
 [],
 [],
 [46],
 [],
 [],
 [63],
 [],
 [],
 [79],
 [],
 [],
 [68, 98],
 [],
 [36, 84],
 [],
 [79],
 [],
 [],
 [],
 [],
 [],
 [12, 20],
 [],
 [86],
 [],
 [],
 [],
 [],
 [],
 [57, 68, 98],
 [],
 [],
 [94],
 [],
 [],
 [82],
 [],
 [23],
 [37, 41],
 [],
 [],
 [],
 [],
 [20, 29],
 [],
 [],
 [58],
 [94],
 [13],
 [],
 [31],
 [56],
 [],
 [43],
 [38],
 [],
 [],
 [6, 71],
 [],
 [],
 [],
 [],
 [],
 [],
 [10, 92],
 [],
 [],
 [],
 [],
 [26, 81],
 [74],
 [],
 [],
 [54],
 [],
 [],
 [33],
 [],
 [],
 [82],
 [],
 [],
 [19],
 [],
 [],
 [43],
 [],
 [],
 [10],
 [],
 [57, 68, 98],
 [],
 [11],
 [],
 [],
 [98],
 [42],
 [97],
 [],
 [10],
 [],
 [84],
 [25],
 [],
 [91],
 [10],
 [],
 [],
 [],
 [],
 [59],
 [62],
 [],
 [97],
 [],
 [45],
 [60],
 [],
 [77],
 [47],
 [],
 [],
 [],
 [25, 28],
 [11],
 [56],
 [],
 [],
 [85],
 [97],
 [],
 [],
 [],
 [],
 [],
 [47],
 [44],
 [],
 [],
 [2, 44],
 [],
 [38],
 [60],
 [64],
 [],
 [36],
 [],
 [1],
 [],
 [43],
 [],
 [16],
 [],
 [],
 [37, 41],
 [],
 [],
 [94],
 [],
 [],
 [57, 68, 98],
 [],
 [],
 [12],
 [67],
 [],
 [26, 81],
 [65],
 [20],
 [37],
 [],
 [],
 [],
 [20],
 [77],
 [],
 [],
 [],
 [51],
 [30],
 [],
 [],
 [],
 [],
 [],
 [30],
 [],
 [],
 [],
 [],
 [84],
 [],
 [43],
 [10],
 [36],
 [],
 [10],
 [],
 [],
 [23],
 [1],
 [30],
 [],
 [],
 [],
 [],
 [97],
 [],
 [],
 [],
 [],
 [47],
 [],
 [],
 [],
 [37],
 [54],
 [81],
 [],
 [60],
 [53],
 [81],
 [],
 [37],
 [54],
 [3, 72],
 [38],
 [78],
 [57],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [82],
 [],
 [],
 [],
 [54],
 [2],
 [75],
 [],
 [],
 [67],
 [29, 56],
 [],
 [84],
 [],
 [6],
 [],
 [95],
 [],
 [],
 [35],
 [],
 [],
 [],
 [],
 [],
 [38, 91],
 [],
 [],
 [72],
 [11],
 [],
 [],
 [62],
 [8],
 [0],
 [],
 [],
 [],
 [63],
 [16],
 [],
 [],
 [],
 [],
 [],
 [],
 [10],
 [],
 [],
 [],
 [37, 41],
 [56],
 [57],
 [78],
 [],
 [],
 [],
 [],
 [46],
 [77],
 [65],
 [92],
 [],
 [],
 [],
 [],
 [38],
 [45],
 [87],
 [],
 [97],
 [],
 [],
 [37],
 [56],
 [],
 [46],
 [],
 [],
 [],
 [63],
 [],
 [53],
 [],
 [],
 [41],
 [],
 [38],
 [2, 44],
 [],
 [],
 [38],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [29],
 [],
 [],
 [],
 [75],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [83, 97],
 [86],
 [],
 [12, 77],
 [],
 [],
 [45],
 [45],
 [62],
 [77],
 [],
 [],
 [36],
 [78],
 [90],
 [],
 [],
 [],
 [37],
 [],
 [],
 [],
 [],
 [88],
 [37],
 [0, 34],
 [],
 [33],
 [],
 [89],
 [],
 [38],
 [],
 [69],
 [],
 [],
 [0],
 [],
 [],
 [],
 [30],
 [50],
 [],
 [47],
 [],
 [],
 [],
 [],
 [83, 97],
 [63],
 [],
 [38],
 [74],
 [16],
 [13],
 [69],
 [],
 [],
 [],
 [],
 [],
 [],
 [78],
 [],
 [9, 30, 82],
 [19],
 [],
 [10],
 [],
 [],
 [],
 [],
 [16],
 [],
 [3],
 [62],
 [26],
 [60],
 [38],
 [69],
 [],
 [],
 [],
 [10],
 [],
 [],
 [12],
 [60],
 [47, 96],
 [],
 [],
 [],
 [],
 [],
 [13],
 [],
 [],
 [30],
 [42],
 [],
 [60, 73],
 [],
 [],
 [37],
 [62],
 [],
 [],
 [],
 [66],
 [],
 [],
 [],
 [],
 [0, 34],
 [],
 [92],
 [],
 [],
 [],
 [45],
 [19],
 [13],
 [],
 [],
 [],
 [],
 [0, 34],
 [80],
 [],
 [64],
 [],
 [],
 [92],
 [],
 [],
 [],
 [1, 21],
 [],
 [],
 [],
 [],
 [],
 [54],
 [43],
 [],
 [],
 [23],
 [41],
 [84],
 [33],
 [],
 [],
 [],
 [],
 [],
 [26],
 [94],
 [10],
 [],
 [57],
 [45],
 [],
 [10],
 [],
 [],
 [97],
 [],
 [10],
 [90],
 [],
 [],
 [],
 [50],
 [68, 98],
 [6, 71],
 [],
 [],
 [63],
 [10],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [12],
 [],
 [82],
 [],
 [96],
 [],
 [],
 [0],
 [],
 [],
 [],
 [],
 [26, 81],
 [],
 [],
 [],
 [],
 [0],
 [],
 [],
 [],
 [39],
 [],
 [26, 81],
 [60],
 [],
 [38],
 [],
 [],
 [],
 [78],
 [47, 96],
 [],
 [],
 [79],
 [26, 81],
 [42],
 [37],
 [],
 [57],
 [],
 [],
 [5],
 [39],
 [],
 [],
 [37],
 [],
 [],
 [47],
 [65],
 [],
 [63],
 [],
 [],
 [],
 [],
 [32],
 [],
 [],
 [0, 34],
 [],
 [],
 [],
 [],
 [43],
 [],
 [],
 [],
 [],
 [94],
 [],
 [],
 [],
 [],
 [],
 [],
 [20],
 [],
 [],
 [],
 [],
 [],
 [],
 [97],
 [13],
 [],
 []]

In [618]:
def list_of_integers_to_string_format(integers):
    """Convert integer author ids to string representation

    Parameters
    ----------        
    list of integers : e.g. [1, 2]
        
    -------
    Return: string of format e.g. "1 2"
    
    """
    return " ".join([str(author_id) for author_id in integers])

def integers_to_csv(test_integers, test_ids):
    string_integers = list(map(list_of_integers_to_string_format, test_integers))
    
    header = ["ID", "Predict"]
    test_ids = [str(test_id) for test_id in test_ids]
    results = list(zip(test_ids, string_integers))
    output = [header] + results
    a = np.asarray(output)
    np.savetxt("lr_800000.csv", a, delimiter=",", fmt='%s')

In [619]:
integers_to_csv(prediction, test_data["identifier"].tolist())

In [620]:
def sanity_check(all_predictions):
    count = 0
    for pred in all_predictions:
        if len(pred) == 0:
            count += 1
    print("# empty predictions: " + str(count))

In [621]:
sanity_check(prediction)

# empty predictions: 474

In [623]:
import pickle
with open('lr_pred.pickle', 'wb') as handle:
    pickle.dump(prediction, handle, protocol=pickle.HIGHEST_PROTOCOL)

Neural nets

In [202]:
class Net(nn.Module):

    def __init__(self):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(3591, 100) 
#         self.fc2 = nn.Linear(100, 100)
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x):
        layer_one_output = F.relu(self.fc1(x))
#         layer_two_output = torch.tanh(self.fc2(layer_one_output))
        result = self.sigmoid(layer_one_output)
        return result

In [254]:
def train(model, train_data, optimizer, n_epochs=10):
    """
    Here train_data is just a pandas dataframe
    """
    LOG_INTERVAL = 5000
    running_loss, running_accuracy = list(), list()
    start_time = time.time()
#     criterion = nn.BCEWithLogitsLoss()
#     metric = MultilabelF1Score(num_labels=100, average='macro')
    
    epoch_loss = 0.
    model.weight.data.fill_(0.01)
    model.bias.data.fill_(0.01)
    
    for epoch in range(n_epochs):
        i = 0
        for index, train_row in train_data.iterrows():
            x = train_row["input"]
            y = author_ids_to_multi_hot_tensor(train_row["prolific"])
            x = torch.Tensor(x)
            results = model(x)
            
            results_unsqueezed = torch.unsqueeze(results, dim=0)
            y_unsqueezed = torch.unsqueeze(y, dim=0)
            
            if i == 9:
                print(y)
                print()
                print(results_unsqueezed)
                print(train_row["authors"])
                print(train_acc)
                print(loss)
                break
            
            loss = criterion(input=results, target=y)
            train_acc = stat_scores(results, y[2], reduce='macro', num_classes=1, multiclass=False)#metric(results_unsqueezed, y_unsqueezed)
            
            
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
            
            if i == 9:
                print(y)
                print()
                print(results_unsqueezed)
                print(train_row["authors"])
                print(train_acc)
                print(loss)
                break
                
            running_loss.append(loss.item())
            running_accuracy.append(train_acc)
            epoch_loss += loss.item()
            
            if i % LOG_INTERVAL == 0:  # Log training stats
                        deltaT = time.time() - start_time
                        mean_loss = epoch_loss / (i+1)
#                         print(train_acc)
#                         print(deltaT)
                        print('[TRAIN] Epoch {} [{}/{}]| Mean loss {:.4f} | Train accuracy {:.5f} | Time {:.2f} s'.format(epoch, 
                            i, train_data.shape[0], mean_loss, train_acc, deltaT))
            i += 1

    return running_loss, running_accuracy

In [255]:
from torchmetrics.functional import stat_scores

# net = Net()
net = nn.Linear(3591, 1)
optimizer = optim.SGD(net.parameters(), lr=0.1)
# criterion = nn.BCEWithLogitsLoss() # nn.BCELoss()
# metric = MultilabelF1Score(num_labels=100, average='macro')
criterion = nn.MSELoss()
train_data = pruned

In [256]:
running_loss, running_accuracy = train(net, train_data, optimizer, n_epochs=3)

NameError: name 'train_acc' is not defined

In [149]:
for p in net.parameters():
    print(p.data)

tensor([[ 0.0012,  0.0095,  0.0018,  ...,  0.0076, -0.0139, -0.0134],
        [-0.0113, -0.0123, -0.0087,  ..., -0.0149, -0.0070, -0.0028],
        [-0.0073, -0.0043,  0.0003,  ...,  0.0121,  0.0051, -0.0098],
        ...,
        [-0.0160, -0.0068,  0.0033,  ..., -0.0091,  0.0024, -0.0031],
        [ 0.0034, -0.0141,  0.0086,  ...,  0.0163, -0.0030,  0.0012],
        [-0.0035,  0.0101, -0.0020,  ..., -0.0114,  0.0014, -0.0124]])
tensor([-5.6372e-04, -2.9465e-03, -1.5800e-02, -2.3435e-02, -1.0459e-02,
        -5.8385e-03, -2.3403e-02, -8.0173e-03, -5.1225e-03, -1.3027e-02,
         1.5426e-03,  2.3988e-03, -1.9370e-02, -1.8685e-02, -1.1816e-02,
        -1.6320e-02, -1.3029e-02, -1.1734e-02, -2.1849e-02, -1.2194e-02,
        -6.3540e-03, -2.2443e-03, -6.8548e-03, -2.0831e-02,  4.0780e-03,
        -3.2636e-03, -1.6552e-02, -3.2225e-03, -1.4636e-02, -1.3369e-02,
        -1.4582e-02, -2.0745e-02, -1.2086e-02, -1.7845e-02, -1.0949e-02,
        -1.1640e-02, -4.5519e-03, -9.6014e-03, -2.6625e-04, -2.0403e-02,
        -1.7171e-02, -2.5953e-02, -1.9985e-02, -4.6846e-03,  3.1957e-03,
        -4.3433e-03, -1.3750e-02, -2.6130e-02, -7.8555e-03, -8.1084e-03,
        -1.4477e-02, -5.7293e-03, -1.5132e-02,  3.7310e-03, -2.4334e-02,
        -2.6312e-02, -1.0791e-02, -6.0595e-03, -2.6879e-02, -6.6907e-03,
        -1.1848e-03, -2.5170e-02, -2.2905e-02, -2.3479e-02, -1.5291e-02,
        -2.3099e-02, -1.3420e-02, -8.4490e-03, -2.4562e-02, -1.9549e-02,
        -9.4797e-03, -1.4463e-02,  2.0723e-03, -2.1254e-02, -8.3684e-03,
         2.4395e-05, -1.7959e-02, -2.3433e-02, -1.3589e-02, -2.4665e-02,
        -1.4145e-02, -9.1285e-03, -2.3406e-02, -1.2875e-02, -1.2139e-02,
        -4.4346e-03, -1.8535e-02, -1.3658e-02, -3.3308e-03, -2.9444e-03,
        -1.2704e-02, -1.9123e-02, -1.4812e-02, -4.5855e-03, -2.1269e-02,
        -2.4211e-02, -8.3569e-03, -6.8832e-03, -6.6500e-03, -1.1087e-02])

In [ ]:
metric = MultilabelF1Score(num_labels=100, average='macro')
train_acc = metric(results_unsqueezed, y_unsqueezed)